<header>
        <div class="container">
            <div class="logonavbar row">
                <div class="logo col-9 col-lg-4"><!-- Le logo prend 9 colonnes en mode small(sm) et 4 colonnes en mode large(lg) -->
                    <h1>Furkan <span>KARADEMIR</span></h1>
                    <hr> <!-- Horizontal rule -->
                    <h2>Développeur <span class="span_web">WEB Junior</span></h2>
                </div>
                <div class="navbar col-3 col-lg-8"><!-- Le menu prend 3 colonnes en mode small(sm) et 8 colonnes en mode large(lg) -->
                    <nav class="hidden-md-down"> <!-- On cache le menu lorsque la page passe en taille medium(md) -->
                        <ul>
                            <li><a class="scroll hvr-underline-from-left" id="about" href="#skills">À propos</a></li>
                            <li><a class="scroll hvr-underline-from-left" id="skill" href="#">Compétences</a></li>
                            <li><a class="scroll hvr-underline-from-left" id="experience" href="#">Expériences</a></li>
                            <li><a class="scroll hvr-underline-from-left" id="work" href="#">Réalisations</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <h1 class="catchphrase">Bienvenue sur mon <span>Portfolio</span></h1>
            <div id="down-arrow"><a class="scroll down-arrow" id="about" href="#"><img src="{{ asset('build/down-arrow.svg') }}" alt="down_arrow.svg"></a></div>
        </div>
    </header>